@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@500&display=swap');

#app {
    max-width: 1920px;
    margin: auto;
    background: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#wrapper {
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.fluid {
    position: relative;
}
.main-intro-picture {
    position:absolute;
    height: 100%;
    width: 100%;
}

.main-intro-picture>svg{
    height: 100%;
    width: 100%;
}
.main-intro-titles{
    position: relative;
    height: 100%;
}

body {
    margin: auto;
}

body * {
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 70px;
    background: #ffffff;
    font-size: 14px;
    border-bottom: 1px solid #A3AAAE;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.header-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-tabs a {
    color: #000000;
    margin-left: 2rem;
}

a {
    color: #000000;
}

a.header-internships { 
    padding: 7px 15px;
    border: double 1.5px transparent;
    border-radius: 18px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

a.header-personal-account { 
    color: #A3AAAE;
}

a.mPS2id-highlight{ 
    background: linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    padding-top: 70px;
    z-index: 0;
}

#main-intro{
    position: relative;
    height: 350px;
}

.main-intro-aeb{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 0 1rem;
    
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

.main-intro-aeb-title{
    font-size: 54px;
    line-height: 63px;
}

.main-intro-aeb-title-gradient{
    background: linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-intro-aeb-subtitle{
    position: absolute;
    font-size: 20px;
    line-height: 23px;
    color: #A3AAAE;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 0 1rem;
    text-align: right;
    top: 70%;
}

.form {
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px  rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    margin: 40px auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    margin: auto;
    font-size: 16px;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 440px;
    margin-bottom: 16px;
}

.form-label {
    font-size: 16px;
    line-height: 1.5;
    color: #A3AAAE;
}

.form-input {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #E1E4E7;
    border-radius: 10px;
    padding: 16px;
}

.form-button, .apply-button {
    margin-top: 16px;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    padding: 10px 40px;
    border: double 1px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    text-align: center;
    cursor: pointer;
}

.form-p {
    margin-top: 32px;
}
  
.line-title {
	font-size: 20px;
	text-align: center;
	position: relative;
}

.line-title span {
	background: #fff;
	display: inline-block;
	padding: 0 18px;
	position: relative;
}

.line-title:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;        
	width: 100%;
	height: 1px;
	background: linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
}

.section {
    padding-top: 3rem;
}

.main-banner {
    background: linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
    height: 256px;
    width: 100%;
    display: flex;
    align-items: center
}

.main-banner-title {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
}

.hash-aeb {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.questions-mail {
    font-weight: 400;
    font-size: 24px;
    
}

.main-directions-footer p{
    margin-block-start: 0;
    margin-block-end: 0.3rem;
}

.apply {
    margin-top: 0.5rem;
    background: #FFFFFF;
    padding: 7px 15px;
    border: double 1.5px transparent;
    border-radius: 18px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

p{
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.owl-carousel {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.owl-item img {
    width: 800px;
    height: 200px;
    border-radius: 20px;
}

.tabs-nav {
	display: table;
	margin: auto;
	padding: 0;
	width: 95%;
}

.tabs-nav li {
	display: table-cell;
	float: none;
	margin: 0;
	padding: 0 7px;
    width: 20%;
}   

.tabs-nav a {
	display: block;
	padding: 10px 0;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
    color: #A3AAAE;
    border-bottom: 1px solid #A3AAAE;
}		

.tabs-nav a.active {
    border-bottom: 1.5px solid #0CC8DE;
	background: #fff;
}

.tabs-items {
    margin: auto;
}

.tabs-item {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.tabs-rect-small {
    height: 200px;
    width: 30%;
    box-shadow: 0px 0px 25px rgba(12, 200, 222, 0.2);
    border-radius: 18px;
}

.tabs-rect-big {
    height: 200px;
    width: 60%;
    box-shadow: 0px 0px 25px rgba(12, 200, 222, 0.2);
    border-radius: 18px;
}

.main-directions-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.center {
    margin: auto;
    text-align: center;
}

.accordion {
    padding: 0 10%;
}

.accordion-tab-title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    cursor: pointer;
    margin: 2rem 0;
}


.accordion-tab-content {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 0 2rem 0;
}

.accordion-tab-title:hover {
    background: linear-gradient(180deg, #11BEF4 0%, #02D1C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.plus{
    transition: all .35s;
}

.accordion-tab.active .plus{
    transform: rotate(45deg);
}

.accordion-tab.active .accordion-tab-title{
    border-radius: 16px 16px 0 0 ;
}

.main-slideshow, .reviews-slideshow, .chat-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slideshow-photo,  .reviews-slideshow-photo{
    display: none;
    
}

.prev-photo, .next-photo {
    padding: 0 3rem;
}

.dot, .reviews-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover, .reviews-dot.active, .reviews-dot:hover  {
    background-color: #0CC8DE;
}

.main-slideshow-photo img{
    width: 800px;
    border-radius: 41px;
    box-shadow: 0px 0px 30px 10px rgba(12, 200, 222, 0.2);
}
.dots, .chat-bot-text{
    text-align: center;
}

.p-bottom-space{
    margin-bottom: 1.5em;
}



.rect{
    height: 500px;
    width: 400px;
    box-shadow: 0px 0px 25px rgba(12, 200, 222, 0.2);
    border-radius: 18px;
}

.review{
    padding: 2rem;
}

.tabs-content {
    padding: 10px;
}

.review-name {
    font-size: 24px;
    
}

.review-title {
    font-size: 20px;
    color: #A3AAAE;
    margin-bottom: 1em;
}

.review-desc{
    font-size: 18px;
}

.intern-item{
    min-height: 200px;
    width: 300px;
    box-shadow: 0px 0px 25px rgba(12, 200, 222, 0.2);
    border-radius: 18px;
    margin: 2rem;
}

.internships-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.intern-item-content{
    padding: 1rem;

}


